# Authors: 
         Rutvik Pansare       
         Praksha maheshwari
         Vishal Phaugat

In [ ]:
import pandas as pd
crimedata = pd.read_csv('NYC_CleanedData.csv', index_col=False, delimiter = ',')
crimedata.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,OFNS_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,PREM_TYP_DESC,JURIS_DESC,X_COORD_CD,...,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,Latitude,Longitude,Lat_Lon,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,YEAR
0,700381962,2015-05-28,15:00:00,HARRASSMENT 2,COMPLETED,VIOLATION,BRONX,RESIDENCE - APT. HOUSE,N.Y. POLICE DEPT,1007522.0,...,25-44,BLACK,M,40.845868,-73.915888,"(40.84586773, -73.915888033)",25-44,WHITE HISPANIC,F,2015
1,593660503,2012-02-20,01:30:00,ASSAULT 3 & RELATED OFFENSES,COMPLETED,MISDEMEANOR,MANHATTAN,RESIDENCE - APT. HOUSE,N.Y. POLICE DEPT,1000693.0,...,25-44,BLACK,M,40.811522,-73.940601,"(40.811522012, -73.940601181)",25-44,BLACK,F,2012
2,889259677,2012-09-28,09:30:00,HARRASSMENT 2,COMPLETED,VIOLATION,BRONX,RESIDENCE-HOUSE,N.Y. POLICE DEPT,1026591.0,...,25-44,BLACK HISPANIC,M,40.878003,-73.846892,"(40.878003133, -73.846891755)",18-24,BLACK HISPANIC,F,2012
3,602484492,2017-03-26,12:00:00,PETIT LARCENY,COMPLETED,MISDEMEANOR,BROOKLYN,CHAIN STORE,N.Y. POLICE DEPT,999240.0,...,25-44,WHITE,F,40.631257,-73.945996,"(40.63125716, -73.945996398)",UNKNOWN,UNKNOWN,D,2017
4,331617213,2016-10-13,16:55:00,DANGEROUS DRUGS,COMPLETED,FELONY,MANHATTAN,RESIDENCE - PUBLIC HOUSING,N.Y. HOUSING POLICE,998007.0,...,45-64,BLACK,M,40.798964,-73.950314,"(40.798963998, -73.95031372)",UNKNOWN,UNKNOWN,E,2016

In [ ]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.0.25)
Requirement already satisfied: protobuf>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', user='root',  
                        password='password')#give ur username, password
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("CREATE DATABASE NYPDCrimeDB")
        print("Database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

Error while connecting to MySQL 1007 (HY000): Can't create database 'nypdcrimedb'; database exists

In [ ]:
import mysql.connector as mysql
from mysql.connector import Error
try:
    conn = mysql.connect(host='localhost', database='NYPDCrimeDB', user='root', password='password')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS crime_data;')
        print('Creating table....')
        # create table statement to create crime_data table
        cursor.execute("CREATE TABLE crime_data(CMPLNT_NUM varchar(255) PRIMARY KEY, CMPLNT_FR_DT date , CMPLNT_FR_TM time , OFNS_DESC varchar(255) ,CRM_ATPT_CPTD_CD varchar(255) , LAW_CAT_CD varchar(255) , BORO_NM varchar(255) , PREM_TYP_DESC varchar(255) , JURIS_DESC varchar(255) , X_COORD_CD varchar(255) , Y_COORD_CD varchar(255) , SUSP_AGE_GROUP varchar(255) , SUSP_RACE varchar(255) , SUSP_SEX varchar(255) , Latitude varchar(255) , Longitude varchar(255) , Lat_Lon varchar(255) , VIC_AGE_GROUP varchar(255) , VIC_RACE varchar(255) , VIC_SEX varchar(255) , YEAR date)")
        print("Table is created....")
        #loop through the data frame
        for i,row in crimedata.iterrows():
            #here %S means string values 
            sql = "INSERT INTO NYPDCrimeDB.crime_data VALUES (%s,STR_TO_DATE(%s , '%Y-%m-%d'), STR_TO_DATE(%s , '%H:%i:%S'),%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,STR_TO_DATE(%s , '%Y'))"
            cursor.execute(sql, tuple(row))
            # the connection is not auto committed by default, so we must commit to save our changes
            conn.commit()
except Error as e:
            print("Error while connecting to MySQL", e)

You're connected to database:  ('nypdcrimedb',)
Creating table....
Table is created....

In [ ]:
#store the dataset where spark is installed. Give the same as the path below.
from pyspark import SparkContext
rdd = sc.textFile("C:"PATH"...NYC_CleanedData.csv")
rdd.take(10)

In [ ]:
try:
      hive_connect =  pyhs.connect(host='****', # Hive server IP or host
      port=****,
      authMechanism="NOSASL",
      user='****', # Username
      password='****' #User password,
      database='default')
      hive_cur = hive_con.cursor()